<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <h1>Fahsai Rich 168</h1>

        <div>
          <%= f.email_field :login, autofocus: true, class: 'form-control', placeholder: "อีเมล หรือรหัสสมาชิก" %>
        </div>

        <div>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "รหัสผ่าน" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field" style="text-align: left;">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <br>

        <div>
          <%= f.submit "เข้าสู่ระบบ", class: "btn btn-primary btn-block", style: "margin-left: 0;" %>
        </div>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>

    </section>
  </div>
</div>
