<!DOCTYPE html>
<html>
  <head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RailsBower</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="nav-md">

  <div class="container body">
	  <% flash.each do |key, value| %>
	      <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
  	<div class="main_container">
  		<%= render partial: "layouts/gentelella_sidebar" %>
  		<%= render partial: "layouts/gentelella_navbar" %>
  		<div class="right_col" role="main">
  			<%= yield %>
  		</div>
  		<%= render partial: "layouts/gentelella_footer" %>
  	</div>
  </div>

    <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => 'reload' %>

  </body>
</html>
